.box {
  width: 400px;
  height: 350px;
  border: 25px solid #E8C48F; /* рамка 25px */
  margin: auto;
  padding: 10px;              /* поля 20px */
  overflow: scroll;       
  box-sizing: border-box;      /* прокрутка */
}

button {
  width: 100px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

